<div class="row">
    <div class="col">
        <div class="post-list">
            <div *ngFor="let post of postList" class="post-content">
                <h3 [routerLink]="['/home/page/detail',post.id]">{{post.title}}</h3>
                <div class="summary">{{post.summary}}</div>
                <div class="tip">
                    <span class="iconfont icon-date">{{post.date}}</span>
                    <span class="iconfont icon-icoviews">{{post.views}}</span>
                    <span class="iconfont icon-reply">{{post.reply}}</span>
                </div>
            </div>
            <div class="paginations">
                <ngb-pagination 
                [collectionSize]="150" 
                [(page)]="currentPage" 
                [maxSize]="5" 
                (pageChange)="switchPage($event)"
                >
            </ngb-pagination>
            </div>
        </div>
    </div>
    <div class="col-3">
        <!-- blog informations -->
        <small-list [headerName]="listHeaderName" [contentList]="contentList" (clickToDisplayDetail)="showSideBlogDetail($event)"></small-list>
    </div>
</div>