@import "../common-style";

.header {
    position:relative;
    display: flex;
    align-items: center;
    background: $headerColor;
    color: $fontLightColor;
    overflow: hidden;



    .blog-name{
        width:200px;
        margin:0 100px 0 50px;
        text-align: center;
        font-size:1.8rem;
    }

    .navbar{
        flex:1;
        padding:0;
        
        ul{
            list-style:none;
            display: flex;
            padding:0;
            margin:0; //fixes bootstrap override
            
            li{
                padding:20px 35px;
                cursor: pointer;

                &:hover {
                    background: darken( $headerColor, 5% );
                }

                &.active { 
                    background: darken( $headerColor, 15% );
                }

                &:last-child {
                    margin-right:0;
                }
            }
        }
    }

    .admin-ctrl{
        display: flex;
        align-items: center;
        margin-right:10px;

        >span {
            display: inline-block;
            margin-right:35px;
        }
        >div.admin-icon {
            padding:10px;
            margin:0 5px;
            border-radius:8px;
            border:1px solid lighten($baseColor , 55%);
            cursor: pointer;
        }
    
    }

}
.content-container{
    // padding-top:20px;
}
.footer {
    height:120px;
    background: $footerColor;
    color: lighten($fontBaseColor, 40%);
}