<div class="container-fluid">
    <div class="row">
        <!-- Manage routers-->
        <div class="col-3">
           <div class="manage-nav">
               <header>博客管理</header>
               <section>
                   <ul>
                       <li>文章管理</li>
                       <li>评论管理</li>
                       <li>留言管理</li>
                       <li>用户管理</li>
                       <li>基础设置</li>
                   </ul>
               </section>
           </div>
        </div>
        <!-- Manage part-->
        <div class="col">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>