<div class="container-fluid manage-main" [@flyIn]="'active'">
    <div class="row">
        <!-- Manage routers-->
        <div class="left-menu">
           <div class="manage-nav">
               <section>
                   <ul>
                       <li [routerLink]="['/manage/post-manage/',1]" routerLinkActive="active">文章管理</li>
                       <li [routerLink]="['/manage/reply-manage/',1]" routerLinkActive="active">评论管理</li>
                       <li [routerLink]="['/manage/commit-manage/',1]" routerLinkActive="active">留言管理</li>
                       <li routerLink="/manage/user-manage/" routerLinkActive="active">用户管理</li>
                       <li routerLink="/manage/base-manage/" routerLinkActive="active">基础设置</li>
                   </ul>
               </section>
           </div>
        </div>
        <!-- Manage part-->
        <div class="right-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>